  .menu-accessibility {
    display: none;
    position: fixed;
    top: 50px;
    right: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    z-index: 1000;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    clip-path: inset(50%);
  }
/* Skip Links */
.skip-link {
    position: absolute;
    left: -9999rem;
    top: auto;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
}

.skip-link:focus {
    left: 10rem;
    top: 10rem;
    width: auto;
    height: auto;
    font-size: 24rem;
    padding: 10rem;
    background: #fff;
    color: #000;
    border: 2rem solid #000;
    border-radius: 5rem;
    z-index: 1000;
    text-decoration: none;
}
